/*
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.
*/
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  
}

#main-article {
  
}

/* Portrait layout (default) */


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  
}

h1 {
  font-size:24px;
  font-weight:normal;
  margin:0px;
  overflow:visible;
  padding:0px;
  text-align:center;
}

.event {
  border-radius:4px;
  -webkit-border-radius:4px;
  color:#FFFFFF;
  font-size:12px;
  margin:0px 30px;
  padding:2px 0px;
}

.event.listening {
  background-color:#333333;
  display:block;
}

.event.received {
  background-color:#4B946A;
  display:none;
}

@keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

@-webkit-keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

.blink {
  animation:fade 3000ms infinite;
  -webkit-animation:fade 3000ms infinite;
}

/* init */
body { font-family: 'Roboto', sans-serif !important; }
body .text.bold { font-weight: 500; }
body .text.tiny { color: #777777; }
.box-icon { width: 32px; height: 32px; float: left; background: #aaaaaa; margin-right: 10px; }
.list li .icon { width: 32px; height: 32px; font-size: 2em; }
article .button, article button, article .button abbr, article button abbr { text-shadow: 0 0 0; }
.button.press { border: 5px solid #405860; border-radius: 5px; width: 70%; margin: auto; margin-bottom: 10px; }

/* header */
body > section > header { background: #333333; border-bottom: 1px solid #292929; box-shadow: 0 1px 0px #d1d1d1; }
body > section > header .title { text-shadow: 0 0 0; margin-left: 5px; }
header nav a, header nav button { height: 46px; min-width: 30px; margin-top: -1px; }
header nav a.app-icon img { float: left; margin-top: 16px; margin-left: 7px; margin-right: -5px; }
header nav a.app-icon div { float: left; width: 30px; height: 30px; background: #4f4f4f; border: 1px solid #6c6c6c; margin-top: 9px; margin-left: 10px; }

/* aside */
body > aside > header { height: 0; }
.list li h1, .list li h2, .list li h3, .list li h4, .list li h5, .list li h6, .list li strong, .list li small { margin-top: 5px; }
aside .list h3 { border-bottom: 2px solid #aaaaaa; margin: 0 14px; font-size: 0.9em; padding-bottom: 5px; color: #aaaaaa; margin-top: 10px; margin-bottom: 10px;}
aside .list h3.red { color: #ff4444; border-bottom: 2px solid #ff4444; }
aside .list h3.green { color: #36ff00; border-bottom: 2px solid #36ff00; }
aside .list h3.blue { color: #0036ff; border-bottom: 2px solid #0036ff; }
aside .list li { height: 63px; }
.list li .on-right.tag { margin-top: 7px; }
.list li:not(.big) { padding-left: 1.1em; }

/* article list */
section article.indenteds ul { margin: 0 10px; }
section article.indenteds ul li { padding-left: 5px; padding-right: 5px; }
section article.black { background: #111111; }
section article.white { background: #ededed; }
section .list.black li { background: #111111; color: white; }
section .list.white li { background: #ededed; color: #333333; }

/* footer */
body > section > footer { background: #555555; border-top: 1px solid #494949; }
footer nav a.app-icon div { width: 30px; height: 30px; background: #4f4f4f; border: 1px solid #6c6c6c; }
footer nav a.app-icon.left { margin-left: 15px; margin-top: 7px; }
footer nav a.app-icon.center { margin-top: 7px; }
footer nav a.app-icon.center div { margin: auto; }
footer nav a.app-icon.right { text-align: right; margin-right: 10px; }
footer nav a.app-icon.right img { margin-top: -4px; }


